<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TestApp</title>
</head>
<body>
    <% data.forEach(function(d) { %>
        <h1><%= d.title %></h1>
        <%= d.content %>
    <% }) %>
</body>
</html>